html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #f3f3f3;
    color: #333;
    padding: 0;
    font: 16px/1.7 'Noto Serif', serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Noto Sans', sans-serif;
}

a:link,
a:visited {
    color: #5a7c83;
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    color: #343434;
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    border: 1px solid #333;
    font-size: .9rem;
}

table a:link,
table a:visited {
    color: #506e75;
}

thead {
    border: 1px solid #333;
}

th {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: .5rem;
    border-right: 1px solid #fff;
}

th:last-child {
    border-right: 0;
}

tbody tr:nth-child(2n+1) {
    background-color: #edecec;
}

tbody tr td {
    padding: .5rem;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
}

@media screen and (min-width: 768px) {
    .outer-wrapper {
        margin: 0 auto;
        width: 740px;
        box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    }
}

@media screen and (min-width: 1024px) {
    .outer-wrapper {
        width: 1118px;
    }
}

.inner-wrapper {
    background-color: #fff;
}

header {
    background-color: #fff;
    padding-top: 20px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    header {
        margin: 0 auto;
        padding-top: 40px;
        text-align: center;
        width: 740px;
        box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    }
}

@media screen and (min-width: 1024px) {
    header {
        position: fixed;
        top: 0;
        left: auto;
        margin: 0 auto;
        width: 1118px;
    }
}

.site-title {
    display: inline-block;
    background: #fff url('/logo.svg') 0 0 no-repeat;
    background-size: 130px 55px;
    margin-bottom: 20px;
    width: 130px;
    height: 55px;
}

@media screen and (min-width: 768px) {
    .site-title {
        margin-bottom: 40px;
    }
}

.site-title span {
    position: absolute;
    margin: -1px;
    padding: 0;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.contact {
    position: absolute;
    top: 30px;
    right: 50px;
}

@media screen and (min-width: 768px) {
    .contact {
        top: 50px;
    }
}

.hero-img {
    height: 225px;
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .hero-img {
        height: 525px;
    }
}

.hero-img img {
    width: 100%;
    max-width: 100%;
}

.inner-page-content {
    margin-top: 0;
    padding: 25px;
}

@media screen and (min-width: 1024px) {
    .inner-page-content {
        margin-top: 110px;
        padding: 75px;
    }
}

.home-page-content p {
    padding: 0 30px 15px;
    font-size: .9rem;
}

@media screen and (min-width: 768px) {
    .home-page-content p {
        padding: 0 75px 15px;
    }

    .col-6:last-child p {
        padding: 0;
    }
}

@media screen and (min-width: 1024px) {
    .home-page-content p {
        padding: 0 45px 15px;
    }
}

.home-page-content ul {
    padding: 0 55px 15px;
    font-size: .9rem;
}

@media screen and (min-width: 768px) {
    .home-page-content ul {
        padding-left: 115px;
    }
}

main h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 0.2rem;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    main h1 {
        font-size: 2.5rem;
    }
}

main h2 {
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
}

@media screen and (min-width: 768px) {
    main h2 {
        font-size: 1.5rem;
    }
}

main h1:after {
    content: '';
    display: block;
    background-color: #474747;
    width: 3em;
    height: 2px;
    margin: .5em auto 0;
    font-size: 32px;
}

.col-6 {
    margin: 0 auto;
    width: 80%;
}

@media screen and (min-width: 1024px) {
    .col-6 {
        display: inline-block;
        margin: 0;
        width: 45%;
        vertical-align: top;
    }
}

nav ul,
footer ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    list-style: none;
    font-size: .8rem;
    text-align: center;
}

@media screen and (min-width: 768px) {
    nav,
    footer ul {
        max-height: 8em;
        width: 740px;
    }
}

@media screen and (min-width: 1024px) {
    nav,
    footer ul {
        width: 1118px;
    }
}

nav li,
footer li {
    display: inherit;
}

@media screen and (min-width: 768px) {
    nav li,
    footer li {
        display: inline;
    }
}

nav li a,
footer li a {
    display: inline-block;
    color: #343434;
    padding: 10px 0;
    text-decoration: none;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    nav li a,
    footer li a {
        padding: 15px 1em 15px;
    }
}

nav li a:hover,
nav li a:focus,
nav li a:active,
footer li a:hover,
footer li a:focus,
footer li a:active {
    color: #5a7c83;
}

.social-facebook {
    float: left;
}

.author {
    padding: 45px 75px;
    text-align: right;
}

.author a {
    color: #5a7c83;
    text-decoration: none;
}

.author a:hover,
.author a:focus,
.author a:active {
    color: #474747;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container blockquote {
    display: inline-block;
    margin: 10px;
    flex-basis: 95%;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .flex-container blockquote {
        flex-basis: 40%;
    }
}

.image-gallery {
    justify-content: space-evenly;
}

.image-gallery img {
    margin: 20px;
}

blockquote {
    padding: 18px 0;
    font-family: Georgia, serif;
    font-size: 1.2rem;
    font-style: italic;
}

blockquote:before {
    display: inline-block;
    content: '“';
}

blockquote:after {
    display: inline-block;
    content: '”';
}

.intro-quote {
    margin: 20px;
    padding: 35px 0 18px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .intro-quote {
        padding: 75px 0 18px;
    }
}
