<footer>
	<ul>
		<li class=""><a href="http://mandarine.co" target="_blank_">Wdrożenia</a></li>
		<li><a href="http://mintbooks.pl" target="_blank">Książki</a></li>
		<li><a href="http://projektynaczas.pl" target="_blank">Blog</a></li>
  	</ul>
	<p class="author">
		<span class="facebook">
			<a href="http://www.facebook.com/100000327206783" class="social-facebook" title="Śledź nas na Facebook">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="28"><title>Facebook</title><path d="M19.5 2C21.984 2 24 4.016 24 6.5v15c0 2.484-2.016 4.5-4.5 4.5h-2.938v-9.297h3.109l.469-3.625h-3.578v-2.312c0-1.047.281-1.75 1.797-1.75L20.265 9V5.766c-.328-.047-1.469-.141-2.781-.141-2.766 0-4.672 1.687-4.672 4.781v2.672H9.687v3.625h3.125V26H4.499a4.502 4.502 0 0 1-4.5-4.5v-15c0-2.484 2.016-4.5 4.5-4.5h15z"/></svg>
			</a>
		</span>&copy; 2016—{{ now.Year }} <a href="{{ .Site.Params.authorURL }}">{{ .Site.Params.author }}</a></p>
</footer>

</div>
</div>
</body>
</html>
