<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "pl" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/lib/normalize.css">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:700|Noto+Serif" rel="stylesheet">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
	{{ if .RSSLink -}}<link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}">{{- end }}
	{{ .Hugo.Generator }}

	<meta property="og:image:height" content="1200">
	<meta property="og:image:width" content="800">
	<meta property="og:title" content="Dr Eliyahu Goldratt, tw&oacute;rca teorii ograniczeń (ang. theory of constraints)">
	<meta property="og:description" content="Goldratt zastosował podejście naukowe do problem&oacute;w zarządzania. Autor powieści biznesowych, dostępnych na http://mintbooks.pl. Pisał o zarządzaniu produkcją i projektami, dystrybucji, logistyce, rachunkowości menedżerskiej. Stworzył &bdquo;narzędzia myślowe&rdquo;.">
	<meta property="og:url" content="https://www.goldratt.pl">
	<meta property="og:image" content="https://www.goldratt.pl/og-image.jpg">
</head>

<body>
  <div class="outer-wrapper">
    <div class="inner-wrapper">
		<section class="header-wrapper">
			<header>
				<a href="{{ .Site.BaseURL }}" class="site-title"><span>{{ .Site.Title }}</span></a>
				<a href="https://mandarine.co/kontakt/" class="contact" title="Skontaktuj się z nami">
				  <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28"><title>Kontakt</title><path d="M26 23.5v-12a8.408 8.408 0 0 1-1.078 1.031c-2.234 1.719-4.484 3.469-6.656 5.281-1.172.984-2.625 2.188-4.25 2.188h-.031c-1.625 0-3.078-1.203-4.25-2.188-2.172-1.813-4.422-3.563-6.656-5.281A8.411 8.411 0 0 1 2.001 11.5v12c0 .266.234.5.5.5h23c.266 0 .5-.234.5-.5zm0-16.422C26 6.687 26.094 6 25.5 6h-23c-.266 0-.5.234-.5.5 0 1.781.891 3.328 2.297 4.438a980.43 980.43 0 0 1 6.266 4.953c.828.672 2.328 2.109 3.422 2.109h.031c1.094 0 2.594-1.437 3.422-2.109a946.207 946.207 0 0 1 6.266-4.953c1.016-.797 2.297-2.531 2.297-3.859zm2-.578v17c0 1.375-1.125 2.5-2.5 2.5h-23A2.507 2.507 0 0 1 0 23.5v-17C0 5.125 1.125 4 2.5 4h23C26.875 4 28 5.125 28 6.5z"/></svg>
			    </a>
				<nav>
					<ul>
						{{ range .Site.Menus.main }}
						<li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
						{{ end }}
					</ul>
				</nav>
			</header>
		</section>
